<div class="background">
<h1>edit technique</h1>

<form action="/user/{{technique._id}}/gameplans/{{gameplan}}/{{positionid}}/{{techid}}?_method=PUT" method="POST">
  <div>
    <label for="Name">technique</label>
    <input type="text" name="Name" value="{{Name}}" />
  </div>
  <div>
    <label for="Description">Description</label>
    <input type="text" name="Description" value="{{Description}}" />
  </div>
  
  <button type="submit">Save Comment</button>
</form>

</div>