<h1>edit technique</h1>

<form action="/user/{{technique._id}}/gameplans/{{gameplan}}/{{positionid}}/{{techid}}?_method=PUT" method="POST">
  <div>
    <label for="Name">technique</label>
    <input type="text" name="Name" value="{{Name}}" />
  </div>
  <div>
    <label for="Description">Submitted By</label>
    <input type="text" name="Description" value="{{Description}}" />
  </div>
  
  <button type="submit">Save Comment</button>
</form>

{{!-- <h1>Edit {{indivUser.name}}</h1>

<form action="/user/{{indivUser._id}}?_method=PUT" method="POST">
  <div>
    <label for="name">Change Name</label>
    <input type="text" name="name" value={{indivUser.name}} />
  </div>
  <div>
    <label for="coach">Change Coach</label>
    <input type="text" name="coach" value={{indivUser.coach}}>
  </div>
  <div>
    <label for="school">Change School</label>
    <input type="text" name="school" value={{indivUser.school}} />
  </div>
  
  <button type="submit">Update</button>
</form> --}}