<h1>ROUTE IS RIGHT</h1>
{{gameplans.position}}
<ul>
{{#each gameplans.techniques}}
<li>{{Name}}</li>
<li>{{Description}}</li>

<button><a href="{{../gameplans.position}}/{{_id}}/edit">{{_id}}</a></button>
{{/each}}
</ul>
{{positionid._id}}
<button><a href="{{gameplans.position}}/new/">add technique</a></button>