<h1>All plans</h1>

<ul>
  {{#each gameplans}}
  <li>
    {{!-- <a href="/user/{{_id}}"> --}}
      <p><a href="/user/{{../userGP._id}}/gameplans/{{_id}}">{{planname}}</a> - {{targetbelt}}</p>
     
    {{!-- </a> --}}
  </li>
  {{/each}}
</ul>

<button><a href="/user/{{userGP._id}}/"> back</a></button>