<div class="background">
<h1>test</h1>
<h1> {{gameplans.planname}}</h1>
<h2>{{gameplans.targetbelt}}</h2>

<ul>
    <li> position: <a href="{{gameplans._id}}/{{gameplans.openguardOffense.position}}">{{gameplans.openguardOffense.position}}</a> </li>
    {{#each gameplans.openguardOffense.techniques}}
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    <li> position:  <a href="{{gameplans._id}}/{{gameplans.openguardDefense.position}}">{{gameplans.openguardDefense.position}}</a> </li>
    {{#each gameplans.openguardDefense.techniques}}
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
     <li> position: <a href="{{gameplans._id}}/{{gameplans.closeguardOffense.position}}">{{gameplans.closeguardOffense.position}}</a> </li>
    {{#each gameplans.closeguardOffense.techniques}}
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    <li> position:  <a href="{{gameplans._id}}/{{gameplans.closeguardDefense.position}}">{{gameplans.closeguardDefense.position}}</a> </li>
    {{#each gameplans.closeguardDefense.techniques}}
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    <li> position:  <a href="{{gameplans._id}}/{{gameplans.halfguardOffense.position}}">{{gameplans.halfguardOffense.position}}</a></li>
    {{#each gameplans.halfguardOffense.techniques}}
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    <li> position: <a href="{{gameplans._id}}/{{gameplans.halfguardDeffense:.position}}">{{gameplans.halfguardDeffense:.position}}</a> </li>
    {{#each gameplans.halfguardDeffense:.techniques}}
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    <li> position: <a href="{{gameplans._id}}/{{gameplans.sidebodyOffense.position}}">{{gameplans.sidebodyOffense.position}}</a></li>
    {{#each gameplans.sidebodyOffense.techniques}}
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    <li> position: <a href="{{gameplans._id}}/{{gameplans.sidebodyDefense.position}}">{{gameplans.sidebodyDefense.position}}</a></li>
    {{#each gameplans.sidebodyDefense.techniques}}
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    <li> position: <a href="{{gameplans._id}}/{{gameplans.northsouthOffense.position}}">{{gameplans.northsouthOffense.position}}</a></li>
    {{#each gameplans.northsouthOffense.techniques}}
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    <li> position: <a href="{{gameplans._id}}/{{gameplans.northsouthDefense.position}}">{{gameplans.northsouthDefense.position}}</a></li>
    {{#each gameplans.northsouthDefense.techniques}}
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    <li> position: <a href="{{gameplans._id}}/{{gameplans.kneeonbellyOffense.position}}">{{gameplans.kneeonbellyOffense.position}}</a></li>
    {{#each gameplans.kneeonbellyOffense.techniques}}
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    <li> position: <a href="{{gameplans._id}}/{{gameplans.kneeonbellyDefense.position}}">{{gameplans.kneeonbellyDefense.position}}</a></li>
    {{#each gameplans.kneeonbellyDefense.techniques}}
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    <li> position: <a href="{{gameplans._id}}/{{gameplans.fullmountOffense.position}}">{{gameplans.fullmountOffense.position}}</a></li>
    {{#each gameplans.fullmountOffense.techniques}}
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    <li> position: <a href="{{gameplans._id}}/{{gameplans.fullmountDefense.position}}">{{gameplans.fullmountDefense.position}}</a></li>
    {{#each gameplans.fullmountDefense.techniques}}
    
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    <li> position: <a href="{{gameplans._id}}/{{gameplans.backcontrolOffense.position}}">{{gameplans.backcontrolOffense.position}}</a></li>
    {{#each gameplans.backcontrolOffense.techniques}}
     
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    <li> position: <a href="{{gameplans._id}}/{{gameplans.backcontrolDefense.position}}">{{gameplans.backcontrolDefense.position}}</a></li>
    {{#each gameplans.backcontrolDefense.techniques}}
    
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    <li> position: <a href="{{gameplans._id}}/{{gameplans.takedownOffense.position}}">{{gameplans.takedownOffense.position}}</a></li>
    {{#each gameplans.takedownOffense.techniques}}
     
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    <li> position: <a href="{{gameplans._id}}/{{gameplans.takedownDefense.position}}">{{gameplans.takedownDefense.position}}</a></li>
    {{#each gameplans.takedownDefense.techniques}}
    
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>
<ul>
    <li> position: <a href="{{gameplans._id}}/{{gameplans.turtleposition.position}}">{{gameplans.turtleposition.position}}</a></li>
    {{#each gameplans.turtleposition.techniques}}
    
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<button><a href="/user/{{userGP._id}}/gameplans"> back</a></button>

</div>