<h1> {{gameplans.planname}}</h1>
<h2>{{gameplans.targetbelt}}</h2>

<ul>
    {{#each gameplans.openguardOffense.techniques}}
     <li> position: {{../gameplans.openguardOffense.position}}</li>
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    {{#each gameplans.openguardDefense.techniques}}
    <li> position: {{../gameplans.openguardDefense.position}}</li>
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    {{#each gameplans.closeguardOffense.techniques}}
     <li> position: {{../gameplans.closeguardOffense.position}}</li>
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    {{#each gameplans.closeguardDefense.techniques}}
    <li> position: {{../gameplans.closeguardDefense.position}}</li>
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    {{#each gameplans.halfguardOffense.techniques}}
     <li> position: {{../gameplans.halfguardOffense.position}}</li>
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    {{#each gameplans.halfguardDeffense:.techniques}}
    <li> position: {{../gameplans.halfguardDeffense:.position}}</li>
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    {{#each gameplans.sidebodyOffense.techniques}}
     <li> position: {{../gameplans.sidebodyOffense.position}}</li>
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    {{#each gameplans.sidebodyDefense.techniques}}
    <li> position: {{../gameplans.sidebodyDefense.position}}</li>
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    {{#each gameplans.northsouthOffense.techniques}}
     <li> position: {{../gameplans.northsouthOffense.position}}</li>
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    {{#each gameplans.northsouthDefense.techniques}}
    <li> position: {{../gameplans.northsouthDefense.position}}</li>
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    {{#each gameplans.kneeonbellyOffense.techniques}}
     <li> position: {{../gameplans.kneeonbellyOffense.position}}</li>
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    {{#each gameplans.kneeonbellyDefense.techniques}}
    <li> position: {{../gameplans.kneeonbellyDefense.position}}</li>
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    {{#each gameplans.fullmountOffense.techniques}}
     <li> position: {{../gameplans.fullmountOffense.position}}</li>
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    {{#each gameplans.fullmountDefense.techniques}}
    <li> position: {{../gameplans.fullmountDefense.position}}</li>
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    {{#each gameplans.backcontrolOffense.techniques}}
     <li> position: {{../gameplans.backcontrolOffense.position}}</li>
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    {{#each gameplans.backcontrolDefense.techniques}}
    <li> position: {{../gameplans.backcontrolDefense.position}}</li>
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    {{#each gameplans.takedownOffense.techniques}}
     <li> position: {{../gameplans.takedownOffense.position}}</li>
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>

<ul>
    {{#each gameplans.takedownDefense.techniques}}
    <li> position: {{../gameplans.takedownDefense.position}}</li>
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>
<ul>
    {{#each gameplans.turtleposition.techniques}}
    <li> position: {{../gameplans.turtleposition.position}}</li>
    <li>name:{{Name}}</li>
    <li>Des:{{Description}}</li>
    {{/each}}
</ul>